<!--borrowed from https://shapebootstrap.net/item/1524983-spirit8-free-bootstrap-html-template -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    
    table, th, td {
      border: 1px solid white;
      text-align: center;	
    }
    li {
      list-style: none;
      text-align: center;	
    }
    h1, h2, h5{
      text-align: center;
    }

    </style>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Homepage</title>
  
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="static/css/style.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  </head>
  
 <body>
    <div id="tf-home">
        <div class="overlay">
            <nav id="tf-menu" class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>

                      </button>
                      <a class="navbar-brand logo" href="https://test-feaso.c9users.io/">Group 56</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About</a></li>
                        <li><a href="https://github.com/CSUMB-SP17-CST205/Proj3-team56">Github</a></li>
                      </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <br>
                <h1>About our Project</h1>
                <h3>
                      <li>Jonathan Cabrera</li>
                      <li>Sovreign Ariel McCarthy</li>
                      <li>Emmanuel Guido</li>
                      <br>
                </h3>
                <h5>
                    The Calorie Estimation from Food Image is a site for people who are middle-aged, young, and old alike.
                  It’s for people who are curious, or maybe health conscious, or have health risks, but especially for people who are caring.
                  Sharing the knowledge of programs like this one with other people can help them with potential health risks that they might face as well. 
                  The main purpose for the site is to allow people the ability to know specific details about the food that they are consuming, at any given moment.
                  Calorie Estimation from Food Image, not only gives a fairly accurate estimation of the calories that the user is going to consume–or is consuming–but it also lets the user know about other nutritional information that pertains to the food like cholesterol, sugars, trans fat, etc. 
                </h5>
                
                <br>
                
                <h5>
                    To utilize the program, a person can simply run the application which will prompt for an image of your food item by upload or camera.
                  It then it returns a stock photo of the image that was taken along with the different amounts of nutritional data relating to the food item. 
                  The program also gives the user suggested types and durations of different exercises to burn the amount of calories that will be eaten.
                </h5>
                
                <br>
                
                <h5>
                    The reason why this program is so useful is because, often, when people eat–especially when they go out–they’re unaware of exactly what they’re eating. 
                  This program will help people be more aware of what they’re consuming in order to lose weight, get or stay healthy, or simply enable a person the opportunity to educate themselves and others.
                </h5>
                                
                <br>
                
                <h5>
                    Some instances where this application could be useful are listed below:
                </h5>

                  <li>A person might be diabetic, trying not to consume too much sugar.</li>
                  <li>A person could be trying to lose ten pounds for the summertime beach body look and need to cut back on fat or calories.</li>
                  <li>It’s possible that heart attacks runs in someone’s family, and they’re concerned about eating high amounts of sodium.</li>
                  <li>Somebody who’s extremely thin might need to eat more protein in order to gain weight.</li>
            </div>
            <div class="content">
            </div>
        </div>
    </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  </body>
</html>