<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    
    table, th, td {
    border: 1px solid white;
    text-align: center;	

    }

    </style>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
  
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  </head>
  
 <body>
    <div id="tf-home">
        <div class="overlay">
            <div id="sticky-anchor"></div>
            <nav id="tf-menu" class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand logo" href="https://test-feaso.c9users.io/">Group 56</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#tf-home">About</a></li>
                        <li><a href="#tf-service">Github</a></li>
                        <li><a href="#tf-portfolio">Pictures</a></li>
                      </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="content">
                  <h2>Photo</h2>
        <hr>          
        
        <img src={{picture}}>

            <h3>This is your image of {{name}}.</h3>
            <table style="width:400px" align="center">
              <tr>
                <td>Calories</td> 
                <td>{{cal}}</td>
              </tr>
              <tr>
                <td>Sodium</td>
                <td>{{sodium}}</td>
              </tr>
              <tr>
                <td>Carbohydrates</td>
                <td>{{carbs}}</td>
              </tr>
              <tr>
                <td>Total Sugar</td>
                <td>{{sugar}}</td>
              </tr>
              <tr>
                <td>Protein</td>
                <td>{{protein}}</td>
              </tr>
              <tr>
                <td>Total Fat</td>
                <td>{{fat}}</td>
              </tr>
              <tr>
                <td>Saturated Fat</td>
                <td>{{s_fat}}</td>
              </tr>
              <tr>
                <td>Trans Fat</td>
                <td>{{t_fat}}</td>
              </tr>
              <tr>
                <td>Cholesterol</td>
                <td>{{chol}}</td>
              </tr>
             
            </table>

                </div>
            </div>
        </div>
    </div>
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


  </body>
</html>