<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="static/css/style.css">

    <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
    <div id="tf-home">
        <div class="overlay">
            <div id="sticky-anchor"></div>
            <nav id="tf-menu" class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <a class="navbar-brand logo" href="https://test-feaso.c9users.io/">Group 56</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#tf-home">About</a></li>
                        <li><a href="#tf-service">Github</a></li>
                        <li><a href="#tf-portfolio">Pictures</a></li>
                      </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="content">
                    <h1>Calorie Estimation from Food Images</h1>

                      <form class="btn btn-primary my-btn" method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                        <input type=file style="width:75px" name=photo>
                        <input type="submit" class="icon-bar">
                      </form>
                      
                      <h1><br />
                          <br />
                          <br />
                          <br />
                          <br />
                      </h1>

                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   
  </body>
</html>
